header {
  top: 0px;
  width: 100%;
  .wave-container {
    .text-header {
      width: 100%;
      @media screen and (min-width: 768px) {
        position: absolute;
      }
    }
    position: relative;
    background: #4a6b81;
    color: #fff;
    text-align: center;
    overflow: hidden;
    svg {
      background-color: #fff;
    }
  }
}
