<div *ngIf="stock" class="card">
  <div class="card-header">
    <h5 class="card-title">{{ stock.description }} ({{ stock.symbol }})</h5>

    <button type="button" class="btn close" (click)="removeStock(stock)">
      X
    </button>
  </div>
  <div class="card-body">
    <div class="row mb-5">
      <div class="col">
        <div class="row">
          <div class="col-6">
            Change today : {{ stock.dp | number: "1.1-1" }}%
          </div>
          <div class="col-6">
            Opening prince : {{ stock.o | currency: "USD" }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            Current price : {{ stock.c | currency: "USD" }}
          </div>
          <div class="col-6">High price : {{ stock.h | currency: "USD" }}</div>
        </div>
      </div>
      <div class="col-3 col-md-6 text-center">
        <span
          class="marker"
          [ngClass]="{ negative: stock.dp < 0, positive: stock.dp >= 0 }"
          >{{ stock.dp < 0 ? "🡻" : "🡹" }}</span
        >
      </div>
    </div>
    <button
      type="button"
      [routerLink]="['/sentiment', stock.symbol]"
      class="btn btn-primary"
    >
      Go to social sentiment details
    </button>
  </div>
</div>
