<div class="card">
  <h5 class="card-header">Search stock</h5>
  <div class="card-body">
    <form [formGroup]="stockForm" (ngSubmit)="addStock()">
      <p class="card-text">
        Enter the symbol of a stock to track (i.e AAPL,TSLA,GOOGL).
      </p>
      <div class="row">
        <div class="col-md-3 col-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="inputStock"
              aria-describedby="stock"
              formControlName="stockName"
              maxlength="5"
              placeholder="Ex : AAPL"
            />
          </div>
        </div>
        <div class="col-md-9 col-6">
          <button
            type="submit"
            [disabled]="stockForm.invalid || isloading"
            class="btn btn-primary"
          >
            <span [hidden]="isloading">Track Stock</span>
            <div
              [hidden]="!isloading"
              class="spinner-border"
              role="status"
            ></div>
          </button>
        </div>
      </div>
      <div class="row">
        <small *ngIf="stockName?.errors && stockName?.touched" class="invalid">
          The stock name must be between 1 and 5 characters !
        </small>
        <small
          [ngClass]="{
            invalid: infoMsg?.type === eTypeInfoMessage.error,
            valid: infoMsg?.type === eTypeInfoMessage.success
          }"
        >
          {{ infoMsg?.text }}
        </small>
      </div>
    </form>
  </div>
</div>
